---
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="max-w-[700px] mx-auto p-2 md:p-3">
            <main class="text-center">
                <div class="relative w-max mx-auto">
                    <pre class="font-mono leading-none text-[70%] md:text-sm md:leading-none my-12">
       _                         _      
      (_)_  ___      _____  ___ ( )_____
     / / / / / | /| / / _ \/ _ \|// ___/
    / / /_/ /| |/ |/ /  __/  __/ (__  ) 
 __/ /\__,_/ |__/____\________/ /____/  
/______ _(_)____/ / /_  / /___  ____ _  
  / __ `/ / ___/ / __ \/ / __ \/ __ `/  
 / /_/ / / /  / / /_/ / / /_/ / /_/ /   
 \__, /_/_/  /_/_.___/_/\____/\__, /    
/____/                       /____/     
                    </pre>
                    <a href="/about" class="absolute right-[3.7rem] bottom-[-3px] md:bottom-[-9px] text-xs md:text-base md:right-[0.5rem] bg-lime-500 py-1 px-2 rounded-[50%] text-white md:rotate-[-7deg] hover:rotate-12">about me</a>
                </div>
            </main>
            <table class="table-fixed h-full mt-3 md:mt-9 table-auto border-spacing-y-[3px] w-full rounded-sm outline outline-solid outline-black outline-[1px] overflow-hidden font-sans">
                <caption class="text-sm md:text-base text-start px-2 py-1 bg-gradient-to-t from-sky-200 via-sky-300 to-sky-100 border-b border-black font-bold">🔗 DIRECTORY</caption>
                <tbody>
                    <tr class="text-center text-sm md:text-base cursor-pointer">
                        <td class="px-2 underline hover:bg-zinc-100 text-blue-700">
                            <a href="/home">/home</a>
                        </td>
                        <td class="px-2 underline hover:bg-zinc-100 text-blue-700">
                            <a href="/about">/about</a>
                        </td>
                        <td class="px-2 underline hover:bg-zinc-100 text-blue-700">
                            <a href="/rss">/rss</a>
                        </td>
                    </tr>
                    <tr class="text-center text-sm md:text-base cursor-pointer">
                        <td class="px-2 underline hover:bg-zinc-100 text-blue-700">
                            <a href="https://digest.juw.ee">digest.*</a>
                        </td>
                        <td class="px-2 underline hover:bg-zinc-100 text-blue-700">
                            <a href="https://archive.juw.ee">archives.*</a>
                        </td>
                        <td class="px-2 underline hover:bg-zinc-100 text-blue-700">
                            <a href="https://blogroll.juw.ee">blogroll.*</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="hidden h-full mt-3 md:mt-9 table-auto border-spacing-y-[3px] w-full rounded-sm outline outline-solid outline-black outline-[1px] overflow-hidden font-sans">
                <caption class="text-sm md:text-base text-start px-2 py-1 bg-gradient-to-t from-sky-200 via-sky-300 to-sky-100 border-b border-black font-bold">THINGS I MADE</caption>
                <tbody>
                    <tr class="text-sm md:text-base cursor-pointer">
                        <td>In The Name of Hues</td>
                        <td>digest.juw.ee</td>
                    </tr>
                    <tr class="text-sm md:text-base cursor-pointer">
                        <td>Juwee's Archives</td>
                        <td>archive.juw.ee</td>
                    </tr>
                    <tr class="text-sm md:text-base cursor-pointer">
                        <td>Cornerboard</td>
                        <td>cornerboard.xyz</td>
                    </tr>
                    <tr class="text-sm md:text-base cursor-pointer">
                        <td>Cinerama</td>
                        <td>cinerama.pages.dev</td>
                    </tr>
                </tbody>
            </table>
            <table class="h-full mt-3 md:mt-9 table-auto border-spacing-y-[3px] w-full rounded-sm outline outline-solid outline-black outline-[1px] overflow-hidden font-sans">
                <caption class="text-sm md:text-base text-start px-2 py-1 bg-gradient-to-t from-lime-200 via-lime-300 to-lime-100 border-b border-black font-bold">📝 LATEST POSTS</caption>
                <tbody>
                    {
                        posts.map((post, index) => (
                            <tr class="text-sm md:text-base cursor-pointer hover:bg-zinc-100 hover:text-blue-700">
                                <td class="px-2 font-bold"><a href=`/blog/${post.slug}` class="block">{post.data.title}</a></td>
                                <td class="pr-2 text-end">
                                    <a href=`/blog/${post.slug}` class="block">
									    <FormattedDate date={post.data.pubDate} /> 
                                    </a>
                                </td>
                            </tr>
                        ))
                    }
                </tbody>
            </table>
            <table class="border-collapse h-full mt-3 md:mt-9 table-auto border-spacing-y-[3px] w-full rounded-sm outline outline-solid outline-black outline-[1px] overflow-hidden font-sans">
                <caption class="text-sm md:text-base text-start px-2 py-1 bg-gradient-to-t from-fuchsia-200 via-fuchsia-300 to-fuchsia-100 border-b border-black font-bold">☎️ CONTACT JUWEE</caption>
                <tbody>
                    <tr class="text-center text-sm md:text-base cursor-pointer">
                        <td class="border-r border-black px-2 py-2 font-bold hover:bg-zinc-100 hover:text-blue-700">
                            <a href="mailto:juwee.ruby.jane@gmail.com">email</a>
                        </td>
                        <td class="border-r border-black px-2 py-2 font-bold hover:bg-zinc-100 hover:text-blue-700">
                            <a href="https://x.com/juweeism" target="_blank">twitter</a>
                        </td>
                        <td class="border-r border-black px-2 py-2 font-bold hover:bg-zinc-100 hover:text-blue-700">
                            <a href="https://github.com/juweeism" target="_blank">github</a>
                        </td>
                        <td class="px-2 py-2 font-bold hover:bg-zinc-100 hover:text-blue-700">
                            <a href="https://are.na/ju-wee" target="_blank">arena</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="hidden max-w-[600px] mx-auto overflow-hidden">
                <div class="w-max overflow-hidden text-xs tracking-widest">---------------------------------------------------------------------------------------------------------</div>
                <h3 class="leading-none px-3">POSTS</h3>
                <div class="w-max overflow-hidden text-xs tracking-widest">---------------------------------------------------------------------------------------------------------</div>
                <ul>
                {
						posts.map((post) => (
							<li class="py-1 px-3 hover:bg-zinc-300">
								<a href={`/blog/${post.slug}/`} class="flex gap-3 justify-between w-full">
									<span class="underline">{post.data.title}</span>
									<p class="">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
                }
                </ul>
            </div>
            <div id="gradient" class="hidden"></div>
            <div id="gradient-bottom" class="hidden"></div>
            <footer class="py-7 px-2 font-sans text-center w-full text-zinc-400 text-xs">
                <ul>
                    <li>
                        <a href=""></a>
                    </li>
                </ul>
                juwee's girlblog <br/> since 2024 <br />
            </footer>
	</body>
</html>

<style>
    html {
        height: 100%;
    }
    #gradient {
        background: linear-gradient(#3333ff, #3333ff66, #3333ff00);
    }

    #gradient-bottom {
        background: linear-gradient(#3333ff00, #3333ffaa);
    }

</style>
