---
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="max-w-[700px] mx-auto p-3">
            <main class="text-center mt-16">
                <pre class="font-mono leading-none text-[70%] md:text-sm md:leading-none my-7">
       _                         _      
      (_)_  ___      _____  ___ ( )_____
     / / / / / | /| / / _ \/ _ \|// ___/
    / / /_/ /| |/ |/ /  __/  __/ (__  ) 
 __/ /\__,_/ |__/____\________/ /____/  
/______ _(_)____/ / /_  / /___  ____ _  
  / __ `/ / ___/ / __ \/ / __ \/ __ `/  
 / /_/ / / /  / / /_/ / / /_/ / /_/ /   
 \__, /_/_/  /_/_.___/_/\____/\__, /    
/____/                       /____/     
                </pre>
                <p class="max-w-[35ch] mx-auto">not an engineer or a designer but a secret third thing! say hi on <a href="https://x.com/juweeism" target="_blank" class="underline">X</a></p>

                <div class="text-center my-5">
                    <h1>ALSO VISIT</h1>
                    <a href="https://archive.juw.ee" class="underline">/archives</a>
                </div>

            </main>
            <div class="max-w-[600px] mx-auto overflow-hidden">
                <div class="w-max overflow-hidden text-xs tracking-widest">---------------------------------------------------------------------------------------------------------</div>
                <h3 class="leading-none px-3">POSTS</h3>
                <div class="w-max overflow-hidden text-xs tracking-widest">---------------------------------------------------------------------------------------------------------</div>
                <ul>
                {
						posts.map((post) => (
							<li class="py-1 px-3 hover:bg-zinc-300">
								<a href={`/blog/${post.slug}/`} class="flex gap-3 justify-between w-full">
									<span class="underline">{post.data.title}</span>
									<p class="">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
                }
                </ul>
            </div>
            <div id="gradient"></div>
	</body>
</html>
