---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '/banner.png' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>☘️</text></svg>">
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content="i got so much vibe to give" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content="i got so much vibe to give" />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="juw.ee">
<meta property="twitter:url" content="https://juw.ee">
<meta name="twitter:site" content="@juweeism" />
<meta name="twitter:title" content="juwee's girlblog" />
<meta name="twitter:description" content="i got so much vibe to give" />
<meta name="twitter:image" content="https://juw.ee/banner.png" />
